---
import "@styles/global.css";
import { translate, type Language } from '@i18n/utils';
import BetterIcon from '@components/BetterIcon.astro';
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';
import LanguagePicker from '@components/LanguagePicker.astro';

interface Props {
	title?: string;
	description?: string;
	lang: Language;
}

const {
	title = 'default_title',
	description = 'default_description',
	lang
} = Astro.props

const translated_title = translate(lang, title);
const translated_description = translate(lang, description);

---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{translated_title}</title>
		<meta name='title' content={title} />
		<meta name='description' content={translated_description} />
	</head>
	<body>
		<div class={`bg-base-100 drawer lg:drawer-open`}>
			<input id='my-drawer' type='checkbox' class='drawer-toggle' />
			<!-- Drawer content -->
			<div class='drawer-content bg-base-100'>
				<div class='bg-base-100 z-50 text-base-content shadow-sm'>
					<nav class='navbar'>
						<div class='navbar-start'>
							<label for='my-drawer' class='btn btn-square btn-ghost lg:hidden'>
								<BetterIcon>
									<svg
										xmlns='http://www.w3.org/2000/svg'
										fill='none'
										viewBox='0 0 24 24'
										stroke-width='1.5'
										class='size-6 stroke-current'
									>
										<path
											stroke-linecap='round'
											stroke-linejoin='round'
											d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'></path>
									</svg>
								</BetterIcon>
							</label>
						</div>
						<div class="navbar-end">
							<LanguagePicker lang={lang}></LanguagePicker>
						</div>
					</nav>
				</div>
				<main class='p-8 pt-10 lg:pt-16 lg:max-w-5xl max-w-full mx-auto min-h-screen flex flex-col justify-between'>
					<!-- Page content -->
					<slot />
					<Footer />
				</main>
			</div>
			<!-- Drawer side -->
			<div class='drawer-side z-40'>
				<label for='my-drawer' aria-label='close sidebar' class='drawer-overlay'></label>
				<Navbar lang={lang} />
			</div>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
