---
import { Image } from 'astro:assets'
import { type Language } from '@i18n/utils';

interface Props {
  fullName?: string;
  title?: string;
  description?: string;
  profilePicture?: any;
  lang: Language;
}

const {fullName, title, description, profilePicture, lang} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-bold mb-4'>
    <span class='text-secondary'>{fullName}</span>
  </h1>
  {title && <p class='text-xl text-gray-600 mb-4'>{title}</p>}
  {description &&
      <p class='text-lg mb-6'>
        {description}
      </p>
  }
</div>
<div class='size-72 lg:block hidden'>
  <!-- Add your profile image -->
  <Image
    src={profilePicture}
    inferSize={true}
    alt={`Picture for ${fullName}`}
    class='w-full h-full mask mask-circle size-44'
  />
</div>
