---
import Hero from '@components/Hero.astro';
import { type Language } from '@i18n/utils';
import { getHomepage } from '@lib/homepage';
import ServiceCards from '@components/ServiceCards.astro';
import Faqs from '@components/Faqs.astro';

interface Props {
    lang: Language;
}

const { lang } = Astro.props;

const homePage = await getHomepage(lang);
---
<div>
    <!-- Content with relative positioning to appear above the background -->
    <div>
        {homePage &&
                <section class='flex items-center gap-12'>
                    <Hero
                            fullName={homePage.name}
                            title={homePage.title}
                            description={homePage.description}
                            profilePicture={homePage.profilePicture}
                            lang={lang}
                    />
                </section>

                <div class="divider"></div>

                <ServiceCards services={homePage.services} lang={lang} />

                <div class="divider"></div>

                <Faqs faqs={homePage.faqs} lang={lang} />

        }
    </div>
</div>