---
import { Image } from 'astro:assets'
import { type Language, translate } from '@i18n/utils';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getProfileData } from '@lib/profile';

interface Props {
	lang: Language;
}

const { lang } = Astro.props;

const homeURL = getRelativeLocaleUrl(lang, "");
const aboutUrl = getRelativeLocaleUrl(lang, "about");
const contactUrl = getRelativeLocaleUrl(lang, "contact");

const { profile, profilePicture, fullName } = await getProfileData(lang);

---
<aside
	class='px-4 pt-4 h-screen w-[20rem] bg-base-200 text-base-content flex flex-col'
>
	<div class='flex flex-col my-8 justify-between h-full'>
		<div>
			<div class='flex justify-center items-center flex-col'>
				<Image
					src={profilePicture}
					inferSize={true}
					alt={`Picture for ${fullName}`}
					class='mask mask-circle size-44'
				/>
				<h1 class="text-lg font-black mt-8 hidden lg:block">{fullName}</h1>
			</div>
			<div class='mx-4 mt-16'>
				<ul class='space-y-4 menu grow shrink menu-md overflow-y-auto'>
					<li>
                        <a href={homeURL} class='text-lg'>{translate(lang, 'nav.home')}</a>
					</li>
					<li>
						<a href={aboutUrl} class='text-lg'>{translate(lang, 'nav.aboutMe')}</a>
					</li>
					<li>
						<a href={contactUrl} class='text-lg'>{translate(lang, 'nav.contact')}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</aside>
